@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Oxygen:wght@400;700&display=swap');

html,
body,
#app {
  height: 100%;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}